{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">

    <!-- Local files -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/header.js' %}"></script>

    <!-- Libraries -->
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
    <!-- <script src="{% static 'js/imask/Imask.min.js' %}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <!-- Logo -->
    <link rel=icon type=image/png sizes=16x16 href="{% static 'images/logo.svg' %}">

    
    <title>{% block title %}{% endblock title %}</title>
    <meta name=description content="{% block description %}{% endblock %}">
    <meta property=og:title content="{% block meta_title %}{% endblock %}">
    <meta property=og:description content="{% block meta_description %}{% endblock %}">
    
    {% block head %}
    {% endblock %}
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="two-parts">
                <div class="left-part">
                    <img class="" src="{% static 'images/logo.svg' %}" alt="">
                    <div class="nav-menu">
                        <a href="">Услуги</a>
                        <a href="">Кейсы</a>
                        <a href="">Контакты</a>
                    </div>
                </div>
                <div class="right-part">
                    <div class="contacts">
                        <a class="phone">+7 914 731 76 86</a>
                        <img src="{% static 'images/whatsapp.svg' %}" alt="">
                    </div>
                    <button class="request-button">Оставить заявку</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <div class="upper">
                <div class="left-part">
                    <img class="" src="{% static 'images/logo.svg' %}" alt="">
                    <div class="nav-menu">
                        <a href="">Услуги</a>
                        <a href="">Кейсы</a>
                        <a href="">Контакты</a>
                    </div>
                </div>
                <div class="right-part">
                    <a class="email">mr.energia25@mail.ru</a>
                    <div class="contacts">
                        <a class="phone">+7 914 731 76 86</a>
                        <img src="{% static 'images/whatsapp.svg' %}" alt="">
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="lower">
                <p><a href="">политика конфиденциальности</a> и <a href="">обработки персональных данных</a></p>
            </div>
        </div>
    </footer>
</body>

{% block script %}
{% endblock %}